/backups
/build
/venv
/rom.nds.skytemple/debugger
tmp

/.ccls-cache
compile_commands.json

/locale/excludecache

out*

*.nds
*.sav
*.exps.sm
*.ssb.sha256

symbols/generated_*.ld
*.Identifier
rom.nds.skytemple.zip
